<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test001.demo.mapper.OrderMapper" >
    <insert id="insertOrder" parameterType="com.test001.demo.entity.Order">
        INSERT INTO orders (uid,sjid,dpname,gid,goods_ms,price,num,aid,sjr_name,sjr_phone,address,imgurl,date) VALUES(#{uid},#{sjid},#{dpname},#{gid},#{goods_ms},#{price},#{num},#{aid},#{sjr_name},#{sjr_phone},#{address},#{imgurl},#{date})
    </insert>

    <select id="getOrder" resultType="com.test001.demo.entity.Order">
        SELECT * FROM orders WHERE uid=#{uid}
    </select>

    <delete id="deleteOrder" parameterType="com.test001.demo.entity.Order">
        delete FROM orders WHERE oid=#{oid}
    </delete>
</mapper>