<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test001.demo.mapper.LoginMapper" >
    <!--    用户登录-->
    <select id="userLogin" resultType="com.test001.demo.entity.User">
        SELECT * FROM user WHERE username=#{username} AND password=#{password}
    </select>

    <select id="selectPhone" resultType="com.test001.demo.entity.User" >
        SELECT * FROM user WHERE phone=#{phone}
    </select>
</mapper>