<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test001.demo.mapper.ClassifyMapper" >
    <select id="findClassifyAll" resultType="com.test001.demo.entity.Classify" >
        SELECT * FROM classify
    </select>

    <select id="findClassifyAllName" resultType="com.test001.demo.entity.Classify" >
        SELECT * FROM classify where name = #{name}
    </select>

    <insert id="insertClassify" parameterType="com.test001.demo.entity.Classify">
        insert into classify (name) values (#{name})
    </insert>

    <update id="updataClassify" parameterType="com.test001.demo.entity.Classify">
        update classify set name=#{name} where cid=#{cid}
    </update>

    <delete id="delClassify"  parameterType="com.test001.demo.entity.Classify">
        delete from classify where cid=#{cid}
    </delete>

</mapper>