@font-face {
  font-family: "iconfont"; /* Project id 2889306 */
  src: url('./iconfont.woff2?t=1635078170916') format('woff2'),
       url('./iconfont.woff?t=1635078170916') format('woff'),
       url('./iconfont.ttf?t=1635078170916') format('truetype');
}
i {
  font-family: 'iconfont';
  font-style: normal;
}
body{
background-color: #f4f4f4;
}
body,div,ul,li,p,
h1,h2,h3,h4,h5,h6,
img,table,video,audio{
  padding: 0;
  margin: 0;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}
